go.sum -diff -text linguist-generated=true
*.pb.go -diff -text linguist-generated=true
*.pb.gw.go -diff -text linguist-generated=true
*.pb.scratch.go -diff -text linguist-generated=true
**/*.pb.go -diff -text linguist-generated=true
*.swagger.json -diff -text linguist-generated=true
**/swagger.go -diff -text linguist-generated=true
*_mock.go -diff -text linguist-generated=true
**/*_mock.go -diff -text linguist-generated=true
**/*.pb.sensitivity.go -diff -text linguist-generated=true